/node_modules
/dist

# Environment variables
# Ignore all .env files
.env*
# Except for the example and docker config
!.env.example
!.env.docker

# Python
py_asr_service/venv/
py_asr_service/__pycache__/
py_asr_service/*.pyc
py_asr_service/.pytest_cache/
py_asr_service/models/
